.a{
    color: #F16529;
    font-family: "Hammersmith One";
    font-size: 24px;
    line-height: normal;
}
.p{
color: #B5B5B5;
font-family: "Lato";
font-size: 16px;
line-height: 27px;
width: 28rem; 
}

.contact{
    color: #B5B5B5;
    font-family: "Hammersmith One";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 0.5rem;
    }
.b{
 color: #FFF;
font-family: "Hammersmith One";
font-size: 51px;

}
 .projects{
        background: #404040;
        width: 260px;
        height: 240px;
    
    }
    .p1{
        color: #F16529;
        font-family: Lato;
        font-size: 19px;
        font-weight: 500;
        padding-top: 1rem;

    }
    .p11{
        color: #83CD29;;
        font-family: Lato;
        font-size: 19px;
        font-weight: 500;
        padding-top: 1rem;

    }
    .p2{
        width: 207px;
        height: 118px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        font-family: "Hammersmith One";
        font-size: 27px;
        font-weight: 300;
        padding-top: 2rem;
        
    }
    .p3{
        padding-top: 2rem;
        gap: 2rem;
    }
    .p4{
        height: 0.7rem;
        margin-left: -0.3rem;

    }